<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
	<listeners>
		<listener class-name="com.tutorialsninja.listener.MyListener"></listener>
	</listeners>

	<test name="RegressionTests">
		<classes>
			<class name="com.tutorialsninja.base.BaseClassTest" />
			<class name="com.tutorialsninja.testCases.RegisterTest" />
			<class name="com.tutorialsninja.testCases.LoginTest" />
			<class name="com.tutorialsninja.testCases.AddToCartTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
